input{
    outline: none;
}
.vert{
    font-weight: bold;
    color: green;
}

.Red{
    font-weight: bold;
    color: red;
}

nav{

}
nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font-weight: bold;
}
nav a:hover{
    color:green;

}